<div class="panel clearfix">
	<h5><%= "Registrations (#{@camp.registrations.count})"%></h5>
	<h6>Student name and rating</h6>
	<ul class="side-nav">
    <% @camp.registrations.each do |registration| %>
         <%= link_to "#{registration.student.last_name}, #{registration.student.first_name}", student_path(registration.student) %>
        <li> Rating: <%= registration.student.rating.zero? ? "Unrated" : registration.student.rating %></li>
        <%= link_to 'Edit', edit_registration_path(registration), class: "button tiny radius" %>
        <%= link_to 'Destroy', registration_path(registration), data: { confirm: 'Are you sure you want to permanently remove this registration from the system?' }, method: :delete, class: "button tiny radius alert" %>
    	</br>
        <!-- see note in _task_details for comments on raw() -->
    <% end %>
	</ul> 
	  <% if logged_in? && current_user.role == 'admin' %>
	   
	 <%= link_to(new_registration_path(camp_id: @camp.id), class: 'button tiny radius') do %>
	 	<i class="fa fa-clipboard"></i>
	 	&nbsp;Register student to camp
		</br>
		<% end %>
	<% end %>
	


</div>
