<h3>Instructor Details</h3><br />
<strong>Name:&nbsp;&nbsp;</strong> 
  <%= @instructor.proper_name %><br /><br />

<strong>Biography</strong><br />
  <%= @instructor.bio.nil? ? "N/A" : @instructor.bio %><br /><br />

<% unless @instructor.picture_url.nil? %>
    <p><%= image_tag @instructor.picture_url %></p>
  <% end %>
<% if logged_in?%>
  <%= render :partial => "instructor_more_details" %>
<%end%>

<% if logged_in? && current_user.role == 'admin' %>
<%= link_to "Edit this instructor", edit_instructor_path(@instructor), class: "button tiny radius" %>&nbsp;&nbsp;
<%= link_to 'Destroy instructor', instructor_path(@instructor), data: { confirm: 'Are you sure you want to permanently remove this instructor from the system?' }, method: :delete, class: "button tiny radius alert" %>
<%end%>