
<strong>Phone:&nbsp;&nbsp;</strong> 
  <%= number_to_phone(@instructor.phone) %><br /><br />

<strong>Email:&nbsp;&nbsp;</strong> 
  <%= mail_to @instructor.email, @instructor.email, encode: "javascript" %><br /><br />

<strong>Active?&nbsp;&nbsp;</strong>
  <%= @instructor.active ? "Yes" : "No" %><br /><br />
  
 <% unless @user.nil? %>
  <b>User Account Information:</b>
    <ol>
    <strong>Username:&nbsp;&nbsp;</strong> 
  	   <%= @user.username %><br /><br />

		<strong>Role:&nbsp;&nbsp;</strong> 
		  <%= @user.role %><br /><br />
	</ol>
<% end %>
</p>
